collector:
  save_dir : "C:/users/abdessamad/CARLA_DATA/COMPARE"
  random_seed : null

client:
  host : 127.0.0.1
  port : 2000
  timeout : 10

traffic_manager:
  safe : False
  tm_port : 8000
  hybrid : False
  respawn : False

simulation:
  synchronous : True
  time_step : 0.001
  no_rendering : True
  hero : "vehicle.audi.tt"
  filterv : "vehicle.*"
  generationv : all
  filterw : "walker.pedestrian.*"
  generationw : all

sensors:
  location :
    x : 1.0
    y : 0.0
    z : 1.5

  settings_all:
    # to be applied to all sensors
    image_size_x: 640
    image_size_y: 480

  # lidar:
  #   range : 100.0
  #   noise_stddev : 0.1
  #   upper_fov : 20.0
  #   lower_fov : -20.0
  #   channels : 16.0
  #   rotation_frequency : 20.0
  #   points_per_second : 300000